beartype  # Required by SpeechTokenizer
black
descript-audio-codec
huggingface_hub
isort
pre-commit
pre-commit-hooks
speechtokenizer
tensorboard  # Required by SpeechTokenizer
torch
torchaudio
transformers
vocos
git+https://github.com/haoheliu/SemantiCodec-inference@8dc464c3385d2389a695ed3f718f4a0caf3ed33f#egg=semanticodec
