beartype  # Required by SpeechTokenizer
descript-audio-codec
huggingface_hub
speechtokenizer
tensorboard  # Required by SpeechTokenizer
torch
torchaudio
transformers
vocos
-f git+https://github.com/haoheliu/SemantiCodec-inference.git@main